body {
  font-family: "myriad-pro";
  background-color: rgb(255, 255, 255);
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  margin: 0;
}

h1 {
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: white;
    font-size: 3em;
  }
  
  h3 {
    position: relative;
    font-weight: 100;
    color: #423f8f;
    font-size: 3.5em;
    text-align: center;
    /* margin-bottom: 3em; */
  }



  p {
    font-weight: lighter;
    color: rgb(207, 206, 206);
    font-size: large;
  }

.logo {
  /* background-color: blueviolet; */
  position: relative;
  padding-top: 2em;
  z-index: 10;
  width: 30em;
  margin: auto; /* this centers */
  /* margin-top: 2em; */
}



.heroImage {
  width: 100%;
}

.hero {
  position: relative;
  margin-left: -5em;
  margin-bottom: -5em;
  margin-top: -4em;
  width: 75%;
  max-width: 60em;
  min-width: 35em;
}

.titleOne {
  position: relative;
  /* background-color: brown; */
  width: 35%;
  min-width: 300px;
  margin-top: -400px;
  margin-left: 60%;
}

.sectionOne {
  margin-top: 0;
  height: 65vw;
  min-height: 30em;
  max-height: 45em;
  background-image: url("./assets/purplebackground-01.svg");
}

.sectionTwo {
  min-height: 10em;
  max-height: 40em;
  background-image: url("./assets/orangebackground-01.svg");
  border-top: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 0 3em 3em 3em;
}

.sectionEfficiencies {
  min-height: 10em;
  background-image: url("./assets/green-background.svg");
  border-top: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 0 3em 3em 0em;
}

.divEfficiencies {
  margin: auto;
  text-align: center;
  padding: 6em 0 0 4em;
}

.divEfficiencies li {
  /* margin: 30px, 30px, 30px, 30px; */
  text-align: justify;
  padding: 1.5em 2em 0.75em 2em;
}

.span-class {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
}


.ulEfficiencies {
  list-style-type: none;
  margin: 2.5em;
  padding: 30px;
  font-weight: lighter;
  color: white;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 10px;
}



.sectionFour {
  background-image: url("./assets/amberbackground-01.svg");
  border-top: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 0 1em 1em 1em;
  margin: auto;
}

.sectionFourtext {
  padding: 0em 0em 0em 3em;
}

.transformingFac {
  max-width: 500px;
  margin: auto;
}

.facilityRender {
  width: 100%;
  margin-bottom: -75px;
}

.requestDemo1 {
  position: relative;
  z-index: 100;
  width: 18%;
  min-width: 250px;
  margin: auto;
  margin-right: 100px;
  margin-top: -35px;
}

.requestDemoText {
  position: relative;
  background-color: #423f8f;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-family: "myriad-pro";
  color: rgb(255, 255, 255);
  width: 100%;
  height: 65px;
  font-size: 20px;
}

.orangeEmpower {
  font-weight: lighter;
  color: white;
  font-size: 1.5em;
}

/*   */
/* An option for every agency section  */
/*   */

h5 {
  margin: 0.5em;
  font-size: 1.7em;
  text-align: center;
  padding: 0 0 0 0;
  /* margin-bottom: 1em; */
  /* margin-top: 10px; */
}

.sectionTiers {
  background-image: url("./assets/anoption-01.svg");
  border-top: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 0 3em 3em 3em;
  margin: auto;
}

.mobilityDirectBasic {
  max-width: 40px;
  max-height: 40px;
  
}

.flex-container {
  display: flex;
  margin: auto;
  width: 95%;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: lighter;
  margin: auto;
  text-align: center;
}

.tierDescriptionPro {
  background-color: #452d9d;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
}

.tierDescriptionPlus {
  background-color: #7e32a2;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  margin: 10px;
  border-radius: 30px;
  padding: 30px;
}

.tierDescriptionSimple {
  border-width: 5px;
  background-color: #99ac63;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  margin: 10px;
  border-radius: 30px;
  padding: 30px;
}
    
/* end of section */



/* Section facility plant  */

.flex-facility-container {
  display: flex;
}

.flex-facility-container > div {
  /* background-color: blueviolet; */
  margin: auto;
  width: 50%;
  padding: 0 2em 0 2em;
  /* margin-top: -2em; */
}



/* section form */

form {
  width: 78%;
}

/* end of section */




/*   Section footer  */


.sectionFooter {
  background-image: url("./assets/purplebackground-01.svg");
  border-top: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 1em 6em 1em 3em;
}

.flex-footer-container {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: lighter;
}

.logoFooter {
  /* background-color: blueviolet; */
  position: relative;
  padding: 2em 2em 2em 0;
  z-index: 10;
  width: 20em;
  margin: auto;
  /* margin: auto; this centers */
  /* margin-top: 2em; */
}

h6 {
  font-size: 1.5em;
  margin: auto;
  /* font-weight: medium; */
  color: rgb(212, 210, 210);
}

